<!DOCTYPE html>
<head>
    <%- include('head'); %>
</head>
<body>
    <header>
        <%- include('menu'); %>
    </header>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <h1>Joga Fácil</h1>
                <h4>Cadastro e busca de quadras esportivas</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <a href="register"><button class="btn btn-primary">Cadastrar quadra</button></a>
                <a href="list"><button class="btn btn-secondary">Listar quadras</button></a>
            </div>
        </div>
    </div>
</body>